<h3>Agregar Animal</h3>
<form method="POST" action="/animals/add">
    <input type="text" name="species" placeholder="Especie" required>
    <input type="text" name="name" placeholder="Nombre" required>
    <input type="number" name="birthYear" placeholder="Año de nacimiento" required>
    <label>
        Esterilizado:
        <input type="checkbox" name="sterilized" value="true">
    </label>
    <button type="submit">Agregar</button>
</form>

<h1>Lista de Animales</h1>
<ul>
    <% animals.forEach(animal => { %>
        <li>
            <strong><%= animal.name %> (<%= animal.species %>)</strong>
            <ul>
                <li>Año de nacimiento: <%= animal.birth_year %></li>
                <li>Esterilizado: <%= animal.sterilized ? 'Sí' : 'No' %></li>
            </ul>
        </li>
    <% }) %>
</ul>
